diffusers==0.33.1
transformers
scipy
ipykernel
xformers==0.0.31
torch>=2.6.0
torchvision>=0.17.0
torchaudio>=2.6.0
tqdm
numpy==1.26.4
matplotlib
pandas
ipywidgets
accelerate
imageio==2.36.0
imageio[ffmpeg]
opencv-python
transformers
gdown
einops
decord
omegaconf
safetensors
gradio
triton
termcolor
protobuf
sentencepiece